$primary-color:cyan;
$bg-color:white;
$seconday-color:rgb(211, 255, 255);
$bars-text:black;

$font_heading:"Forma DJR Display";//sans-serif
$font_para:"Graphik Trial";//courier
$font_mono:'PT Mono';//monospace

*{
    padding:0;
    margin:0;
    cursor: none;
}
#main_page{
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    width:100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: 42px 1fr 42px;
    grid-template-columns: 42px 1fr 42px;
    grid-template-areas: 
    'top_bar top_bar top_bar'
    'left_bar main_box right_bar'
    'bottom_bar bottom_bar right_bar';

    .top_btm_txt_bars{
        color:$bars-text;
        background-color: $bg-color;
        border:solid 2px black;
        height: 42px;
        display: flex;
        overflow: hidden;
        align-items: center;
        pointer-events: none;
        font-family: $font_mono,monospace;
    }
    @keyframes RightToLeft {
        from{
            transform: translateX(0%);
        }
        to{
            transform: translateX(-30%);
        }
    }
    @keyframes LeftToRight {
        from{
            transform: translateX(-30%);
        }
        to{
            transform: translateX(0%);
        }
    }
    @keyframes TopToBottom {
        from{
            transform: translateY(0%);
        }
        to{
            transform: translateY(30%);
        }
    }
    @keyframes BottomToTop {
        from{
            transform: translateY(10%);
        }
        to{
            transform: translateY(-45%);
        }
    }
    .lft_rgt_txt_bars{
        color:$bars-text;
        border:solid 2px black;
        border-top: none;
        border-bottom: none;
        width: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        height: calc(100vh - 78px);
        font-family: $font_mono,monospace;
    }
    
    #topbar{
        grid-area: top_bar;
        z-index:15;
        border-bottom: solid 2px black;
        #top_bar_div{
            display: flex;
            gap: 150px;
            white-space: nowrap;
            animation: RightToLeft 17s infinite linear;
            p{
                font-size: 26px;
            }
        }
    }
    #leftbar{
        grid-area: left_bar;
        z-index: 0;
        #left_bar_div{
            display: flex;
            height: 3500px;
            //align-items: center;
            //justify-content: center;
            overflow: hidden;
            flex-direction: column;
            gap: 1350px;
            white-space: nowrap;
            animation: TopToBottom 20s infinite linear;
            p{
                transform: rotate(-90deg);
                font-size: 26px;
            }
        }
    }
    :where(#box_toplft, #box_toprgt,#box_btmlft,#box_btmrgt):hover {
        background: linear-gradient(300deg,deepskyblue,#fefefe);
        background-size: 120% 120%;
        animation: gradient-animation 2s ease infinite;
        
        @keyframes gradient-animation {
            0% {
                background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
      }
      /*
      #mainbox:has(#box_toplft:hover) {
          grid-template-areas: 
          'box1 box1 box1 box1 box2'
          'box1 box1 box1 box1 box2'
          'box4 box4 box4 box3 box2'
          'box4 box4 box4 box5 box5'
          'box4 box4 box4 box5 box5'
          ;
        } */
    #mainbox{
        grid-area: main_box;

        display: flex;
        position: relative;
        background-color: $seconday-color;

        font-family: $font_heading,sans-serif;

        .main_boxes{
            background-color: white;
            box-sizing: border-box;
            border: solid 2px black;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.6s ease;
            .box_h3{
                font-size: 40px;
                pointer-events: none;
            }
        }
        #box_toplft{
            width: 60%;
            height: 40%;
            position: absolute;
            top:0%;
            left:0%;
            right:auto;
            bottom: auto;
        }
        #box_toprgt{
            width: 40%;
            height: 60%;
            position: absolute;
            right:0%;
            top:0%;
        }
        #box_center{
            width: 20%;
            height: 20%;
            position: absolute;
            top:40%;
            left:40%;
            z-index: 10;
            overflow: hidden;
            background-color: black;
            @keyframes rotate3d {
                from{
                    transform: rotateY(0deg)
                }
                to{
                    transform: rotateY(360deg)
                }
            }
            #sliyp_div{
                pointer-events: none;
                img{
                    transition: all 0.6s ease;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                #logo_img{
                    width: 50%;
                }
                #logo_png{
                    width: 20%;
                    left:39%;
                    top:28%;
                    animation: rotate3d 1s ease-in-out infinite;
                    z-index:-5
                }
                #inside_logotxt{
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 150px;
                    color: rgba(255, 255, 0, 0);
                    stroke-width: 2px;
                    -webkit-text-stroke-color: cyan;
                    -webkit-text-stroke-width: 2px;
                    z-index:-10;
                    opacity: 20%;

                }
            }
        }
        #box_btmlft{
            width: 40%;
            height: 60%;
            position: absolute;
            left: 0%;
            bottom: 0%;
        }
        #box_btmrgt{
            width: 60%;
            height: 40%;
            position: absolute;
            right:0%;
            bottom: 0%;
        }
    }
    #rightbar{
        grid-area: right_bar;
        z-index: 10;
        #right_bar_div{
            display: flex;
            height: 3500px;
            overflow: hidden;
            flex-direction: column;
            gap: 1250px!important;
            white-space: nowrap;
            animation: BottomToTop 25s infinite linear;
            p{
                font-size: 26px;
                transform: rotate(90deg);
            }
        }
    }
    #bottombar{
        grid-area: bottom_bar;
        z-index: 5;
        #btm_bar_div{
            display: flex;
            gap: 150px;
            white-space: nowrap;
            animation: LeftToRight 20s infinite linear;
            p{
                font-size: 24px;
            }
        }
    }
}

main_page::selection{
    background: $primary-color;
}
a{
    color:black;
}
a:active{
    color:black;
}
@media only screen and (max-width: 600px) {
    #mainbox{
        display: grid!important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    #box_toplft,#box_toprgt,#box_center,#box_btmlft,#box_btmrgt{
        width: 100%!important;
        height: calc((100vh - 84px) / 5)!important;
        top:auto !important;
        left: auto !important;
        right:auto !important;
        bottom: auto !important;
    }
    #box_center,#box_btmlft{
        position: relative !important;
        
    }
    a{
        text-decoration: none!important;
    }

    
}